In [51]:
import pandas as pd
import datetime
import plotly.express as px

In [52]:
raw_df = pd.read_csv('Headaches.csv')
processed_df = raw_df.copy()

In [53]:
for col in processed_df.columns[1:]:
    processed_df[col] = pd.to_numeric(processed_df[col])
processed_df['date'] = pd.to_datetime(processed_df['date'])

In [49]:
processed_df

,date,type,severity,medicine,steps,gym,cardio,social,acupuncture,chiro,sport,exercise_ts,sick
0,2022-06-22,1.0,2.0,0.0,9952.0,1.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0
1,2022-06-23,0.0,0.0,0.0,6849.0,1.0,0.0,1.0,0.0,0.0,0.0,15.0,0.0
2,2022-06-24,0.0,0.0,0.0,4732.0,1.0,0.0,1.0,0.0,0.0,0.0,14.5,0.0
3,2022-06-25,2.0,3.0,1.0,14109.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0
4,2022-06-26,0.0,0.0,0.0,5340.0,0.0,1.0,1.0,0.0,0.0,0.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,2022-10-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
129,2022-10-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
130,2022-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,2022-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,2022-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
raw_df

,date,type,severity,medicine,steps,gym,cardio,social,acupuncture,chiro,sport,exercise_ts,sick
0,6/22/22,1.0,2.0,0.0,9952.0,1.0,0.0,0.0,0.0,0.0,0.0,20:00,0.0
1,6/23/22,0.0,0.0,0.0,6849.0,1.0,0.0,1.0,0.0,0.0,0.0,15:00,0.0
2,6/24/22,0.0,0.0,0.0,4732.0,1.0,0.0,1.0,0.0,0.0,0.0,14:30,0.0
3,6/25/22,2.0,3.0,1.0,14109.0,0.0,0.0,0.0,0.0,0.0,0.0,11:00,0.0
4,6/26/22,0.0,0.0,0.0,5340.0,0.0,1.0,1.0,0.0,0.0,0.0,8:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,10/28/22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0
129,10/29/22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0
130,10/30/22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,10/31/22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,11/1/22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
px.scatter